@use '../helpers' as *;

.badge {
  display: inline-flex;
  padding: fluid(4, 2) fluid(14, 10);
  border-radius: rem(6);
  border: rem(1) solid transparent;
  background:
  linear-gradient(var(--color-dark-10), var(--color-dark-10)) padding-box,
  linear-gradient(var(--gradient)) border-box;
  color: var(--color-light);
  font-size: rem(16);

  @include laptop{
    border-radius: rem(4);
    font-size: rem(14);
  }
}